{# @deprecated tag:v6.5.0 - Template `checkout-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}
{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info_variant_characteristics %}
    <div class="cart-item-details-characteristics">
        {% for option in lineItem.payload.options %}
            <div>
                {{ option.group }}:
                <span class="cart-item-details-characteristics-option">{{ option.option }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block page_checkout_item_remove %}
    <div class="col-md-1 cart-item-remove">
        {% block page_checkout_item_remove_form %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-light btn-sm btn-square cart-item-remove-button">
        {% sw_icon 'x' style { 'pack': 'feather' } %}
    </button>
{% endblock %}

