{% sw_extends '@Storefront/storefront/component/product/card/box-wishlist.html.twig' %}

{% block component_product_box_info %}
    <div class="product-info product-wishlist-info">
        {{ block('component_product_box_rating') }}

        {{ block('component_product_box_name') }}

        {{ block('component_product_box_description') }}

        {% block component_product_box_currently_not_available %}
            {% set noLongerAvailable = product.isCloseout and product.availableStock < product.minPurchase %}

            <p class="product-wishlist-info-item product-wishlist-info-not-available">
                {% if not product.available or noLongerAvailable %}
                    <span class="delivery-status-indicator bg-danger product-wishlist-info-status"></span>

                    {{ "wishlist.currentlyNotAvailable"|trans|sw_sanitize }}
                {% endif %}
            </p>
        {% endblock %}

        {{ block('component_product_box_price') }}

        {% block component_product_box_action %}
            {% sw_include '@Storefront/storefront/component/wishlist/card/action.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}