{# SwagElleTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/quickview/buy-widget.html.twig' %}

{% block page_product_detail_data %}
    <div class="swag-cms-extensions-quickview-header-headline" itemprop="name">
        {{ page.product.translated.name }}
    </div>

    {% block page_product_detail_data_rich_snippet_url %}
        {{ parent() }}
    {% endblock %}

    {# Put the position of reviews on here #}
    {% block page_product_detail_reviews %}
        {% if page.reviews|length > 0 and config('core.listing.showReview') %}

            <div class="product-detail-reviews">
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: page.product.ratingAverage
                } %}
                <span class="product-detail-reviews-link">
                {{ "detail.reviewLinkText"|trans({'%count%': page.totalReviews}) }}
                ({{ page.totalReviews }})
            </span>
            </div>

        {% endif %}
    {% endblock %}

    {% block page_product_detail_data_rich_snippet_price_range %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_data_rich_snippet_price_currency %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_price %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_tax %}
        {{ parent() }}
    {% endblock %}

    {% set remoteClickOptions = {
        selector: "#review-tab",
        scrollToElement: true
    } %}

    {% block page_product_detail_delivery_informations %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
