{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}

{% block page_checkout_aside_item_image %}
    <div class="col-2 checkout-aside-item-image">
        {% block page_checkout_aside_item_image_inner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_aside_item_data %}
    <div class="col-10 checkout-aside-item-data">
        {% block page_checkout_aside_item_title %}
            <div class="checkout-aside-item-title">
                {% if lineItem.quantity %}
                    {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans|sw_sanitize }}
                {% endif %}

                {{ lineItem.label|u.truncate(60) }}
            </div>
        {% endblock %}

        {% block page_checkout_aside_item_quantity %}
            {# Removed quantity here #}
        {% endblock %}

        {% block page_checkout_aside_item_price %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
