{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product %}
    <div class="{{ lineItemClasses }}">
        <div class="row line-item-row">

            {{ block('component_line_item_type_product_col_info') }}

            {% if feature('V6_5_0_0') and displayMode === 'offcanvas' %}
                {% if showTaxPrice %}
                    {{ block('component_line_item_type_product_col_tax_price') }}
                {% else %}
                    {{ block('component_line_item_type_product_col_unit_price') }}
                {% endif %}

                {% block component_line_item_type_product_col_quantity_price %}
                    <div class="line-item-quantity-price">
                        {{ block('component_line_item_type_product_col_quantity') }}

                        {{ block('component_line_item_type_product_col_total_price') }}
                    </div>
                {% endblock %}
            {% else %}
                {{ block('component_line_item_type_product_col_quantity') }}

                {% if showTaxPrice %}
                    {{ block('component_line_item_type_product_col_tax_price') }}
                {% else %}
                    {{ block('component_line_item_type_product_col_unit_price') }}
                {% endif %}

                {{ block('component_line_item_type_product_col_total_price') }}
            {% endif %}

            {% if showRemoveButton %}
                {{ block('component_line_item_type_product_col_remove') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
