{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="collapse"
         id="searchCollapse">
        <div class="header-search">
            <div class="header-search-rectangle"></div>
            <button class="btn header-search-close"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#searchCollapse"
                    aria-expanded="true"
                    aria-controls="searchCollapse"
                    data-search-widget-options='{{ searchWidgetOptions|json_encode }}'>
                {% sw_icon 'x' style { 'pack': 'feather' } %}
            </button>
            <form action="{{ path('frontend.search.page') }}"
                  method="get"
                  data-search-widget="true"
                  data-url="{{ path('frontend.search.suggest') }}?search="
                  data-search-widget-options='{{ searchWidgetOptions|json_encode }}'
                  class="header-search-form">
                {% block layout_header_search_input_group %}
                    <div class="input-group input-group-lg">
                        {% block layout_header_search_input %}
                            {{ parent() }}
                        {% endblock %}

                        {% block layout_header_search_button %}
                            <button type="submit"
                                    class="btn header-close-btn js-search-close-btn d-none"
                                    aria-label="{{ "header.searchButton"|trans|striptags }}">
                                    <span class="header-search-icon">
                                        {% sw_icon 'search' style { 'pack': 'feather' } %}
                                    </span>
                            </button>
                        {% endblock %}
                    </div>
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
